img {
  width: 500px;
  height: 300px;
}

fieldset {
  width: 1000px;
  margin-left: 50px;
  font-size: 1.5em;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

#project_field {
  font-size: 1em;
  width: 1000px;
}