em {
  margin-left: 100px;
  font-weight: bolder;
  font-size: 2em;
}

table {
  width: 40%;
  margin-left: 100px;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.5em;
}

td,
th {
  width: 20%;
  border: 1px solid black;

}

tr {
  height: 30;
}

#pledge {
  text-align: right;
  width: 50%;
  font-family: "Song Myung";
  margin-left: 950px;
  font-size: 1.5em;
}