body {
  background-color: white;
}

#loginstyle {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  margin-left: 500px;
}

@font-face {
  font-family: 'Cafe24Moyamoya-Face-v1.0';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/Cafe24Moyamoya-Face-v1.0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#my_image {
  width: 10px !important;
}

#title_name {
  font-size: 50px;
  font-family: 'Cafe24Moyamoya-Face-v1.0';
  height: 150px;
}

#title_left {
  font-size: 60px;
  font-family: 'Cafe24Moyamoya-Face-v1.0';
  margin-left: 40px;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 100px;
  margin-left: 0;
}

.category a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  margin: 5px;
  background-color: #000;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.category a:hover {
  background-color: #fff;
  color: #000;
}

main {
  margin-left: 20px;
}

/* .category {
  background-color: black;
  display: inline-block;
  color: aqua;
  text-align: center;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  margin-left: 10px;
}

.category:hover {
  background-color: aliceblue;
} */